<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('FarmFresh')"></head>
<body>
<div th:replace="layout :: nav"></div>

<div class="container-fluid">

    <div class="row">

        <div th:each="item : ${listOfItems}">
            <div class="col-lg-6">
                <img th:src="@{'/fruits/image0'+${item.id}+'.jpg'}" alt="item-image" width="150" height="150"/>
                <p th:text="${item.name}"></p>
                <p th:text="${item.price}"></p>
                <a th:href="'/viewKart/'+${item.id}">Add to Kart</a>
            </div>
        </div>

    </div>

</div>


</body>
</html>